@import "tailwindcss";
@plugin "@tailwindcss/forms";
@import "tailwindcss/preflight.css" layer(base);

@layer base {
    h1 {
        font-size: calc(1.375rem + 1.5vw);
        font-weight: 600;
    }
    h2 {
        font-size: calc(1.325rem + 0.9vw);
        font-weight: 600;
    }
    h3 {
        font-size: calc(1.3rem + 0.6vw);
        font-weight: 600;
    }
    h4 {
        font-size: calc(1.275rem + 0.3vw);
        font-weight: 600;
    }
    h5 {
        font-size: 1.25rem;
        font-weight: 600;
    }
    h6 {
        font-size: 1rem;
        font-weight: 600;
    }
}
